<!DOCTYPE html>
<html lang="zh-hant-TW">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ToDoList主線任務三</title>
    <link rel="stylesheet" href="./css/style.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
</head>

<body>
    <div class="box">
        <input type="text" v-model="text" placeholder="請輸入代辦事項"><button @click="addList">新增資料</button>
        <div class="filter">
            <button class="tag" @click="status = 'all'">全部</button>
            <button class="tag" @click="status = 'finish'">已完成</button>
            <button class="tag" @click="status = 'nofinish'">未完成</button>

        </div>
        <ul>
            <li v-for="item in filter" :key="item.id"><span :class="item.isfin ? 'fin' : ''">{{item.text}}</span>
                <div class="option">
                    <button class="tagFinish" @click="tagfinish(item)" v-if="item.isfin == false">標記為完成</button>
                    <button class="tagFinish" @click="tagfinish(item)" v-else>標記為未完成</button>
                    <button class="edit" @click="editList(item)">編輯資料</button>
                    <button class="remove" @click="removeList(item)">移除資料</button>
                </div>
            </li>
        </ul>
        <br><br>
        <div class="show" v-if="canEdit == true">
            <input type="text" v-model="temp.text" :style="canEdit" placeholder="請輸入要修改的內容"><button
                @click="updateList()">資料更新</button>
        </div>
    </div>

    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://unpkg.com/vue@next"></script>
    <script src="./script.js"></script>
</body>

</html>